* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.container1 {
    position: relative;
    background: linear-gradient(to right, #33ccff 14%, #ff3399 64%);
    height: 300px;
    text-align: center;
    font-family: sans-serif;
}

.download1 ul {
    float: right;
    margin-right: 20px;

}

.download1 ul li {
    position: relative;
    display: inline-flex;
    margin: 5px;
    color: white;

}

.download1 ul li a {
    position: relative;
    top: 10px;
    border: 2px solid;
    border-width: 10px;
    border-radius: 15px;
    border-color: #ef3038;
    background-color: #ef3038;
    color: white;
    text-decoration: none;
}


.download1 ul li a:hover {
    background-color: black;
    border-color: black;
}

.title1 {
    position: relative;
    left: 150px;
    top: 70px;
    font-size: 1.2em;
    color: white;
}


.paragraph {
    position: absolute;
    left: 650px;
    top: 150px;
    color: white;
    width: 580px;
}

.container2 {
    font-family: sans-serif;
    text-align:center;
}

.txt1 {
    position: relative;
    left: 800px;
    font-size: 2em;
    width: 300px;
    padding: 10px;
}

.txt2 {
    font-size: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
}

    .cards img {
        margin: 10px;
        border: 3px solid #000;
        box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
        max-width: 23vw;
    }



.gallery {
    position:relative;
    left: 350px;
    display: flex;
    max-width:1200px;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px;
    
}

.gallery img {
    width: 300px;
    object-fit: cover;
    object-position: bottom;

}



.container4 {
    margin: 50px;
}

.tags ul li {
    position: relative;
    display: inline-flex;
    margin: 5px;
    color: white;
}


    .tags ul li a {
        position: relative;
        top: 10px;
        border: 2px solid;
        width: 120px;
        height: 30px;
        border-radius: 15px;
        border-color: #6495ed;
        color: #6495ed;
        text-decoration: none;
        transition: 200ms;   
    }


        .tags ul li a:hover {
            background-color: #6495ed;
            color: white;
        }


.gallery2 {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 25px;
}

    .gallery2 img {
        width: 200px;
    }